apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - 1password.yaml
  - ingress.yaml

patches:
  - path: database-patch.yaml
    target:
      kind: Cluster
      name: mainloop-db
